extends ./template/template.jade

block title
	title Главная страница

block content
	//.c-line
	.body__background
	.rdif_page
		nav.nav.nav-top.nav-white.is-page.nav-in-up
			.container
				.row
					.col-xs-12
						.nav__logo.nav__single
							a(href="/#projects")
								i.icon.icon__logo
						.nav__back
							a(href="/#projects")
								span
									i.icon.icon__top
								| На главную
						.nav__menu
							.nav__menu__contacts
								a(href="#feedback").btn.sroll Получить консультацию
						.nav__feedback
							ul
								li
									a(href="#feedback").scroll
										i.icon.icon__mail
								li
									a(href="tel:7(495)6603778")
										i.icon.icon__phone
		section.section-1
			.container
				.row
					.col-xs-12
						img(src="img/logo.png", alt="").logo
					.col-xs-12
						.title_rdif
							h1.section-1__title ВНУТРЕННИЙ ПОРТАЛ РОССИЙСКОГО <br>ФОНДА ПРЯМЫХ ИНВЕСТИЦИЙ
							.hr.hr__border.hr_red.hr_center
					.col-xs-12
						a(href="http://www.rdif.ru/").section-1__link www.rdif.ru
						span.section-1__date 2012 г.
					.col-xs-12
						ul.section-1__list
							li.section-1__item(data-elmove="true" data-force-start="true" data-dur="1" data-delay="0" data-left="0" data-top="200")
								i.icon.icon_planning
								span.section-1__item-text Проектирование
							li.section-1__item(data-elmove="true" data-force-start="true" data-dur="1" data-delay="0.3" data-left="0" data-top="200")
								i.icon.icon_desing
								span.section-1__item-text Дизайн
							li.section-1__item(data-elmove="true" data-force-start="true" data-dur="1" data-delay="0.6" data-left="0" data-top="200")
								i.icon.icon_development
								span.section-1__item-text Разработка
							li.section-1__item(data-elmove="true" data-force-start="true" data-dur="1" data-delay="0.9" data-left="0" data-top="200")
								i.icon.icon_support
								span.section-1__item-text Поддержка
					.col-xs-12
						i.icon.icon_down.section-1__down

		section.section-2
			.container
				.row
					.col-xs-12
						.title_rdif
							h2.section-2__title О ЗАКАЗЧИКЕ
							.hr.hr__border.hr_red.hr_center
						p.section-2__description Российский Фонд Прямых Инвестиций (РФПИ) &mdash; инвестиционный фонд, созданный правительством Российской Федерации для инвестиций в лидирующие компании наиболее быстрорастущих секторов экономики.
						ul.section-2__list
							li.section-2__item
								p.section-2__top
									span(data-end="2011").section-2__number#year 2016
									| г
								p.section-2__item-text Создание по инициативе<br> Президента РФ
							li.section-2__item
								p.section-2__top
									span.section-2__number $
										span(data-end="10")#numone 0
									|  млдр
								p.section-2__item-text Зарезервированный<br> капитал фонда
							li.section-2__item
								p.section-2__top
									span.section-2__number &gt;$
										span(data-end="25")#numtwo 0
									|  млрд
								p.section-2__item-text Привлечено<br> в российскую экономику

		section.section-3
			.container
				.row
					.col-xs-12
						.title_rdif
							h2.section-3__title Задача
							.hr.hr__border.hr_red.hr_center
						p.section-3__description Для эффективного управления и оптимизации внутренних бизнес-процессов компании было принято решение о внедрении и использовании корпоративного портала &laquo;1С-Битрикс&raquo;.
						ul.section-3__list
							li.section-3__item(data-elmove="true" data-dur="1" data-delay="0" data-left="0" data-top="200")
								i.icon.icon_bitrix
								p.section-3__item-text.section-3__item-text_bitrix Установка и стандартная настройка 1с битрикс
							li.section-3__item(data-elmove="true" data-dur="1" data-delay="0.3" data-left="0" data-top="200")
								i.icon.icon_mobile
								p.section-3__item-text.section-3__item-text_mobile Дизайн корпортала
							li.section-3__item(data-elmove="true" data-dur="1" data-delay="0.6" data-left="0" data-top="200")
								i.icon.icon_1c
								p.section-3__item-text.section-3__item-text_1c Интеграция с производственным календарем из 1С

		section.section-4
			.container
				.row
					.col-xs-6.col-xs-offset-6
						.title_rdif.section-4__title-parent
							h2.section-4__title ОСОБЕННЫЙ ДИЗАЙН
							.hr.hr__border.hr_white.hr_left
						p.section-4__description Нами был разработан и внедрен индивидуальный дизайн в соответствии с фирменным стилем компании и внедрен индивидуальный дизайн в соответствии с фирменным стилем компании.

		section.section-5
			.container
				.row
					.col-xs-12
						.title_rdif
							h2.section-5__title СИНХРОНИЗАЦИЯ С 1С
							.hr.hr__border.hr_red.hr_center
						p.section-5__description Мы развернули портал на платформе &laquo;1С Битрикс: Внутренний портал государственной организации&raquo;, установили на него CRM-систему, реализовали английскую версию портала и синхронизировали его с &laquo;1С Предприятие 8.2: Зарплата и управление персоналом&raquo;
					.col-xs-12
						ul.section-5__navigation.sync
							li.sync__item.active Данные о зарплате
							li.sync__item График отсутствия
							li.sync__item Документооборот
					.col-xs-12
						.sync__descriptions
							.sync__description
								ul.section-5__list
									li.section-5__item Предусмотрена возможность делегирования функций, чтобы ассистент мог выполнять задание за своего руководителя;
									li.section-5__item Для каждого из сотрудников настраивается доступ к типу документов;
									li.section-5__item Доступен расширенный поиск документов по названию, номеру, дате и категории;
									li.section-5__item Реализована возможность создания документов по шаблону: выбирается категория и шаблон,  заполняются необходимые поля и генерируется документ doc
							.sync__description
								ul.section-5__list
									li.section-5__item Предусмотрена возможность делегирования функций, чтобы ассистент мог выполнять задание за своего руководителя;
									
							.sync__description
								ul.section-5__list
									li.section-5__item Предусмотрена возможность делегирования функций, чтобы ассистент мог выполнять задание за своего руководителя;
									li.section-5__item Для каждого из сотрудников настраивается доступ к типу документов;
									li.section-5__item Доступен расширенный поиск документов по названию, номеру, дате и категории;
									li.section-5__item Реализована возможность создания документов по шаблону: выбирается категория и шаблон,  заполняются необходимые поля и генерируется документ doc
									li.section-5__item Реализована возможность создания документов по шаблону: выбирается категория и шаблон,  заполняются необходимые поля и генерируется документ doc

						.section-5__divece.divece
							.divece__slider
								.divece__item
									img(src="img/slide1.jpg", alt="").divece_img
								.divece__item
									img(src="img/slide1.jpg", alt="").divece_img
								.divece__item
									img(src="img/slide1.jpg", alt="").divece_img


		section.section-6
			.container
				.row
					.col-xs-12
						.title_rdif
							h2.section-6__title ТЕХПОДДЕРЖКА
							.hr.hr__border.hr_red.hr_center
						p.section-6__description В рамках технической поддержки, команда РФПИ ставила перед нами все более сложные и интересные задачи:
					.col-xs-12.tech-items
						.tech-item-animate(data-elmove="true" data-dur="1" data-delay="0" data-left="0" data-top="-200" data-offset="0.3")
							.tech-item
								.tech-item__line.tech-item__line_img
								.tech-item__line.tech-item__line_desc
								span.tech-item__number.tech-item__number_no_padding 1
								.tech-item__miniature.tech-item__miniature_no_padding
									.tech-item__head-line.tech-item__head-line_img
									img(src="img/tech1.jpg", alt="").tech-item__picture
								.tech-item__desc.tech-item__desc_no_padding
									.tech-item__head-line.tech-item__head-line_desc
									h2.tech-item__title Сотрудники на испытательном сроке
									.tech-item__text
										p.tech-item__paragraph Нами разработан модуль &laquo;Probation period&raquo;. При найме на работу сотрудника заносят в данный список, назначают руководителей и испытательный срок, по окончании которого руководители получают уведомление. Доступна выгрузка списка сотрудников, находящихся на испытательном сроке, в Excel.
							.tech__line
						.tech-item-animate(data-elmove="true" data-dur="1" data-delay="0" data-left="0" data-top="-200" data-offset="0.7")
							.tech-item
								.tech-item__line.tech-item__line_img
								.tech-item__line.tech-item__line_desc
								span.tech-item__number 2
								.tech-item__miniature
									.tech-item__head-line.tech-item__head-line_img
									img(src="img/tech2.jpg", alt="").tech-item__picture
								.tech-item__desc
									.tech-item__head-line.tech-item__head-line_desc
									h2.tech-item__title Оценка сотрудников
									.tech-item__text
										p.tech-item__paragraph Мы разработали модули для различных внутрених отчетов компании. Например, для налаживания эфективной оценки сотрудников был создан раздел &laquo;Годовая оценка деятельности&raquo;
							.tech__line
						.tech-item-animate(data-elmove="true" data-dur="1" data-delay="0" data-left="0" data-top="-200" data-offset="0.7")
							.tech-item
								.tech-item__line.tech-item__line_img
								.tech-item__line.tech-item__line_desc
								span.tech-item__number 3
								.tech-item__miniature
									.tech-item__head-line.tech-item__head-line_img
									img(src="img/tech3.jpg", alt="").tech-item__picture
								.tech-item__desc
									.tech-item__head-line.tech-item__head-line_desc
									h2.tech-item__title Отчет WEEKLY REPPORT
									.tech-item__text
										p.tech-item__paragraph Еженедельно и ежемесячно пользователям из группы &laquo;HR Manager&raquo; отсылается специолезированная отчетность.
										p.tech-item__paragraph Все проекты создаются и редактируются в разделе &laquo;Companies and Project&raquo;. Для данного раздела делается отдельный специолизированный бэкап для возможности контроля изменений.
							.tech__line
						.tech-item-animate(data-elmove="true" data-dur="1" data-delay="0" data-left="0" data-top="-200" data-offset="0.7")
							.tech-item
								.tech-item__line.tech-item__line_img
								.tech-item__line.tech-item__line_desc
								.tech-item__360(data-elmove="true" data-dur="1" data-delay="2" data-left="0" data-top="-200" data-offset="0.7")
									i.icon.icon_360.tech-item__icon-360
								span.tech-item__number 4
								.tech-item__miniature
									.tech-item__head-line.tech-item__head-line_img
									img(src="img/tech4.jpg", alt="").tech-item__picture
								.tech-item__desc
									.tech-item__head-line.tech-item__head-line_desc
									h2.tech-item__title Анкеты 360 review
									.tech-item__text
										p.tech-item__paragraph Оценка &laquo;360 градусов&raquo; &mdash; это получение данных о действиях человека в реальных рабочих ситуациях и о проявленных им деловых качествах. Информация при этом, получают от людей, общающихся с человеком на разных уровнях: начальника, коллег, подчиненного и клиентов.
							.tech__line
						.tech-item-animate(data-elmove="true" data-dur="1" data-delay="0" data-left="0" data-top="-200" data-offset="0.7")
							.tech-item
								.tech-item__line.tech-item__line_img
								.tech-item__line.tech-item__line_desc
								span.tech-item__number 5
								.tech-item__miniature
									.tech-item__head-line.tech-item__head-line_img
									img(src="img/tech5.jpg", alt="").tech-item__picture
								.tech-item__desc
									.tech-item__head-line.tech-item__head-line_desc
									h2.tech-item__title Модуль KPI
									.tech-item__text
										p.tech-item__paragraph Работа по KPI позволяет специолистам лучше понимать, что им нужно делать, чтобы быть эффективными. Данный модуль позволяем выставлять сотрудникам цели, которые должны быть достигнуты на определанный период.
										p.tech-item__paragraph А затем другие сотрудники могут оценить и оставить комментарий, насколько достигнута данная цель.
							.tech__line

		section.section-7
			.container
				.row
					.col-xs-6.col-xs-offset-6
						.title_rdif.section-7__title-parent
							h2.section-7__title МОБИЛЬНАЯ ВЕРСИЯ
							.hr.hr__border.hr_white.hr_left
						p.section-7__description Потребность пользователей работать с порталом вне офиса определила необходимость в мобильной версии. 
						p.section-7__description Мы разработали мобильную версию разделов по отчетности, адптировали ее под планшеты.

		section.section-8
			.container
				.row
					.col-xs-12
						.title_rdif
							h2.section-8__title В ИТОГЕ
							.hr.hr__border.hr_red.hr_center
						p.section-8__description Внедрение корпоративного портала позволило в короткие сроки запустить эффективную систему внутренних коммуникаций, оптимизировать ключевые бизнес-процессы и выстроить работу с корпоративными документами согласно единому стандарту фонда.
						p.section-8__description Сейчас мы продолжаем разрабатывать новые модули, публикуем материалы, ведем контроль качества компонентов и материалов.
					.col-xs-12
						ul.section-8__list
							li.section-8__item(data-elmove="true" data-dur="1" data-delay="0" data-left="-200" data-top="0")
								p.section-8__top
									span.section-8__number 3
								p.section-8__item-text уникальных сложнейших модуля
							li.section-8__item(data-elmove="true" data-dur="1" data-delay="0.3" data-left="-200" data-top="0")
								p.section-8__top
									span.section-8__number 3
									|  года
								p.section-8__item-text эффективного сотрудничества
							li.section-8__item(data-elmove="true" data-dur="1" data-delay="0.6" data-left="-200" data-top="0")
								p.section-8__top
									span.section-8__number 24/7
								p.section-8__item-text поддержка работы портала


		section.section.pagenavi#pagination
			.container
				.row
					.col-xs-12
						.pagenavi__list
							.pagenavi__post.is-left
								a(href="/clients/site/ekipazh/")
									span.pagenavi__row
										span.pagenavi__cell Интернет-представительство <br>гипермаркета &laquo;Глобус&raquo;
							.pagenavi__center.hidden-xs
								.icon
									.icon__eye.is-left
										i.icon(style="left: 0px; top: 5px;")
									.icon__eye.is-right
										i.icon(style="left: 0px; top: 5px;")
							.pagenavi__post.is-right
								a(href="/clients/main/bank-vozrozhdenie/")
									span.pagenavi__row
										span.pagenavi__cell Адаптивный <br>интернет-магазин<br> сети бутиков Equipage
						script.
							$(function () {
								var mouseX = 0,
									mouseY = 0,
									limitX = 8 - 1,
									limitY = 6 - 1;
								$(window).mousemove(function (e) {
									var offset = $('.icon__eye').offset();
									mouseX = Math.min(e.pageX - offset.left, limitX);
									mouseY = Math.min(e.pageY - offset.top, limitY);
									if (mouseX < 0)
										mouseX = 0;
									if (mouseY < 0)
										mouseY = 0;
								});

							// cache the selector
							var follower = $(".icon__eye .icon");
							var xp = 0, yp = 0;
							var loop = setInterval(function () {
								// change 12 to alter damping higher is slower
									xp += (mouseX - xp) / 12;
									yp += (mouseY - yp) / 12;
									follower.css({
										left: xp,
										top: yp
									});
								}, 10);
							});

		.section.feedback(style="outline: none;")#feedback
			.container
				.row
					.col-xs-12
						.feedback__name.ttu Пригласите на встречу,<br>получите идеи развития бизнеса
						.feedback__form
							.row#feedbackForm
								script.
									$(function () {

																							// Select
										$('form [name="c888"]').val('888');
										$('#feedbackForm input[name="form_text_27"]').mask("+7 999 999 99 99");

										$('[name="web_form_submit"]').click(function () {

											_gaq.push(['_trackEvent', 'feedback', 'send']);
													try {
															yaCounter12890632.reachGoal('ym_form_footer');
													} catch (e) {
													}

													$.post('/ajax.php', {
															type: 'feedbackForm',
															web_form_submit: 2,
															formData: $(this).closest('form').serialize()
													}, function (data)

													{

															$("#feedbackForm").html(data);

													});

													return false;

											});
											$('input[name="form_text_23"]').on('change keyup', function () {
													var parent = $(this).parent();
													if (parent.hasClass('is-error')) {
															if ($(this).val().length > 0) {
																	parent.removeClass('is-error');
															}
													}
											});
											$('input[name="form_text_27"]').on('change keyup', function () {
													var parent = $(this).parent();
													if (parent.hasClass('is-error')) {
															if ($(this).val().length > 16) {
																	parent.removeClass('is-error');
															}
													}
											});
											$('input[name="form_email_26"]').on('change keyup', function () {
													var parent = $(this).parent();
													if (parent.hasClass('is-error')) {
															if (isEmail($(this).val())) {
																	parent.removeClass('is-error');
															}
													}
											});
									});
								.col-xs-6
									.feedback__desktop
										p Чтобы получить консультацию наших экспертов, свяжитесь с&nbsp;нами удобным для вас способом: заполнив форму справа, позвонив по&nbsp;телефону
										p.is-phone
											a(href="tel:+7(495)6603778" onclick="_gaq.push(['_trackEvent', 'send', 'call']); yaCounter12890632.reachGoal('ym_call');" title="Позвоните нам") (495) 660 37 78
										p или отправив нам письмо на&nbsp;адрес
										p.is-mail
											a(href="mailto:hello@arealidea.ru" onclick="_gaq.push(['_trackEvent', 'send', 'email']); yaCounter12890632.reachGoal('ym_email');" title="Напишите нам") hello@arealidea.ru
										p Не&nbsp;забудьте рассказать о&nbsp;вашей компании, цели проекта, имеющихся наработках и&nbsp;оставить свои контактные данные.
									.feedback__mobile
										p Чтобы получить консультацию наших экспертов, свяжитесь с&nbsp;нами удобным для вас способом: <br>позвонив по&nbsp;телефону
										p.is-phone
											a(href="tel:+7(495)6603778" onclick="_gaq.push(['_trackEvent', 'send', 'call']); yaCounter12890632.reachGoal('ym_call');" title="Позвоните нам") Позвонить
										p или заполните форму ниже
								.col-xs-6
									form(name="SIMPLE_FORM_2" action="/clients/" method="POST" enctype="multipart/form-data")
										input(type="hidden" name="sessid" id="sessid" value="d7aa55b19a3d0b9a0f511e00f4631554")
										input(type="hidden" name="WEB_FORM_ID" value="2")
										input(type="hidden" name="c888" value="888")
										.feedback__email
											.form-group
												input(type="text" class="form-control" name="form_text_23" placeholder="Имя*" value="")
												span.form-error
											.form-group
												input(type="text" class="form-control" name="form_email_26" placeholder="Email*" value="")
												span.form-error
											.form-group
												input(type="text" class="form-control" name="form_text_27" placeholder="Телефон" value="")
												span.form-error
											.form-group
												textarea(rows="4" class="form-control" name="form_textarea_28" placeholder="Хочу получить консультацию")
											input(type="hidden" class="" name="form_text_29" value="/clients/index.php")
											.form-group
												input(title="" type="submit" class="btn btn-block" name="web_form_submit" value="Отправить")

		section.section.vista#vista
			.container
				.row
					.col-xs-12
						.vista__name Больше возможностей <br>для вашего бизнеса
							.vista__list
								.vista__desktop
									.short__extra__n
										li
											a(href="/site/" title="")
												span.vista__image
													i.icon.icon__vista1
												span.vista__title Создание,<br>поддержка сайтов
										li
											a(href="/seo/" title="")
												span.vista__image
													i.icon.icon__vista2
												span.vista__title Продвижение,<br>повышение продаж
										li
											a(href="/portal/" title="")
												span.vista__image
													i.icon.icon__vista3
												span.vista__title Корпорталы,<br>веб-интеграция
										li
											a(href="/mobile/" title="")
												span.vista__image
													i.icon.icon__vista4
												span.vista__title Мобильные<br>решения, AR
										li
											a(href="/" title="")
												span.vista__image
													i.icon.icon__vista5
												span.vista__title Сайт агентства<br>AREALIDEA
								noindex
									.vista__mobile
										ul
											li
												a(href="/site/" title="")
													span.vista__image
														i.icon.icon__vista1
													span.vista__title Создание,<br>поддержка сайтов
											li
												a(href="/seo/" title="")
													span.vista__image
														i.icon.icon__vista2
													span.vista__title Продвижение,<br>повышение продаж
											li
												a(href="/portal/" title="")
													span.vista__image
														i.icon.icon__vista3
													span.vista__title Корпорталы,<br>веб-интеграция
											li
												a(href="/mobile/" title="")
													span.vista__image
														i.icon.icon__vista4
													span.vista__title Мобильные<br>решения, AR
											li.hidden-xs
												a(href="/" title="")
													span.vista__image
														i.icon.icon__vista5
													span.vista__title Сайт агентства<br>AREALIDEA

		section.section.contacts.js-section__control-is-white#contacts
			.container
				.row
					.col-xs-12
						.contacts__name Будьте с&nbsp;нами
						.section__space
							b
						.section__social
							ul
								li
									a(href="https://www.facebook.com/arealidea" target="_blank" title="AREALiDEA - Москва - Рекламное агентство, Веб-разработка | Facebook")
										i.icon.icon__facebook
								li
									a(href="https://twitter.com/arealsoft" target="_blank" title="AREALIDEA (@arealsoft) | Твиттер")
										i.icon.icon__twitter
								li
									a(href="https://vk.com/arealidea" target="_blank" title="AREALIDEA, Interactive Agency | ВКонтакте")
										i.icon.icon__vkontakte
						.contacts__address
							a(title="Напишите нам" href="mailto:hello@arealidea.ru" onclick="_gaq.push(['_trackEvent', 'send', 'email']); yaCounter12890632.reachGoal('ym_email');") hello@arealidea.ru,
							a(title="Позвоните нам" href="tel:+7(495)6603778" onclick="_gaq.push(['_trackEvent', 'send', 'call']); yaCounter12890632.reachGoal('ym_call');") (495) 660 37 78
						.contacts__logo
							a(href="javascript:;" class="scrollTop" title="")
								i.icon.icon__logo
						.copyright
							a(title="copyright" href="/copyright/")
								| ©&nbsp;
								span.date 2003&nbsp;—&nbsp;2016
















